@model StoreGraphRenderer.Models.ClusterSelection

@{
    ViewBag.Title = "RenderButtons";
}

<p class="title">Render graphs for the selected store</p>

@using (Html.BeginForm("GetTotalSales", "Graph"))
{
    <input type="hidden" name="StoreSelectedID" value="@ViewBag.StoreSelectedID" />
    <input type="hidden" name="StoreSelectedFloor" value="@ViewBag.StoreSelectedFloor" />

    @Html.HiddenFor(group => group.ClusterGroupSelected);
    @Html.HiddenFor(name => name.ClusterNameSelected);
    <input type="submit" value="Get total sales"/>
}

@using (Html.BeginForm("GetTotalVolume", "Graph"))
{
    <input type="hidden" name="StoreSelectedID" value="@ViewBag.StoreSelectedID" />
    <input type="hidden" name="StoreSelectedFloor" value="@ViewBag.StoreSelectedFloor" />

    @Html.HiddenFor(group => group.ClusterGroupSelected);
    @Html.HiddenFor(name => name.ClusterNameSelected);
    <input type="submit" value="Get total volume" />
}

@using (Html.BeginForm("GetAverageProfit", "Graph"))
{
    <input type="hidden" name="StoreSelectedID" value="@ViewBag.StoreSelectedID" />
    <input type="hidden" name="StoreSelectedFloor" value="@ViewBag.StoreSelectedFloor" />

    @Html.HiddenFor(group => group.ClusterGroupSelected);
    @Html.HiddenFor(name => name.ClusterNameSelected);
    <input type="submit" value="Get average profit" />
}

@using (Html.BeginForm("GetAverageProfitPerBay", "Graph"))
{
    <input type="hidden" name="StoreSelectedID" value="@ViewBag.StoreSelectedID" />
    <input type="hidden" name="StoreSelectedFloor" value="@ViewBag.StoreSelectedFloor" />

    @Html.HiddenFor(group => group.ClusterGroupSelected);
    @Html.HiddenFor(name => name.ClusterNameSelected);
    <input type="submit" value="Get average profit per bay" />
}

@using (Html.BeginForm("GetTotalSalesPerBay", "Graph"))
{
    <input type="hidden" name="StoreSelectedID" value="@ViewBag.StoreSelectedID" />
    <input type="hidden" name="StoreSelectedFloor" value="@ViewBag.StoreSelectedFloor" />

    @Html.HiddenFor(group => group.ClusterGroupSelected);
    @Html.HiddenFor(name => name.ClusterNameSelected);
    <input type="submit" value="Get total sales per bay" />
}

@using (Html.BeginForm("GetTotalVolumePerBay", "Graph"))
{
    <input type="hidden" name="StoreSelectedID" value="@ViewBag.StoreSelectedID" />
    <input type="hidden" name="StoreSelectedFloor" value="@ViewBag.StoreSelectedFloor" />

    @Html.HiddenFor(group => group.ClusterGroupSelected);
    @Html.HiddenFor(name => name.ClusterNameSelected);
    <input type="submit" value="Get Total Volume per bay" />
}

<p class="title">Select store specific bay</p>

@using (Html.BeginForm("SelectBay", "Home", FormMethod.Post, new { @class="select-bay"}))
{
    <input type="hidden" name="StoreSelectedID" value="@ViewBag.StoreSelectedID" />
    <input type="hidden" name="StoreSelectedFloor" value="@ViewBag.StoreSelectedFloor" />

    @Html.HiddenFor(group => group.ClusterGroupSelected);
    @Html.HiddenFor(name => name.ClusterNameSelected);


    @Html.DropDownListFor(bay => bay.SelectedBay, new SelectList(ViewBag.StoreBay), "Select Bay");
    <input type="submit" value="Select" />
}